<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' th:href="@{/CSS/main.css}">
    <link rel="stylesheet" th:href="@{/CSS/stylesBook.css}"/>
    <script th:src="@{/JS/main.js}"></script>


</head>

<body class="no_site">

<header id="navbar">


</header>

<div id="myHome" alt="a home">

</div>

<footer class="footer-content">


</footer>

</body>

</html>